# Dir to exclude for packaging
.github
.vscode
.vscode-test
infra
# TODO Consider remove src. currently src has md files and some json files.
# src
out/Tests/**

# Files to exclude for packaging
**/.gitignore
**/.clang-format
**/.eslint*
**/.htmlhintrc
**/tsconfig.json
**/.eslintrc.json
**/.stylelintrc.yml
**/format.patch
**/*.map
**/*.ts
