# Dir to exclude for packaging
.github
.vscode
.vscode-test
infra
src
out/Tests/**

# Files to exclude for packaging
**/.gitignore
**/.clang-format
**/.eslint*
**/.htmlhintrc
**/tsconfig.json
**/.eslintrc.json
**/format.patch
**/*.map
**/*.ts
