* {
    box-sizing: border-box;
    transition: width 0.2s ease;
}

body {
    height: 100vh;
    margin: 0;
}

#root {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 0.5px solid var(--vscode-foreground, gray);
}

nav > * {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fileName {
    color: var(--vscode-foreground, gray);
}

.set-data {
    display: none;
}

input {
    width: 200px;
    transition: all 1s ease;
}

input:active {
    outline: none;
}

/* button */
button {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: small;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}


/* dash-board */
.dash-board {
    height: 100%;
    border-bottom: 0.5px solid grey;
    overflow: auto;
}


/* level */
.levelContainer {
    border-bottom: 0.5px solid var(--vscode-foreground, gray);
}

.levelHeader {
    border-bottom: 0.5px solid var(--vscode-foreground, gray);
}

.levelHeader.fold ~ section{
    display: none;
}

.levelHeader.fold .levelTitle::before {
    content: '▶ ';
}

.levelTitle {
    position: sticky;
    left: 0;
    width: 90vw;
    padding: 3px 5px;
    font-size: smaller;
    cursor: pointer;
    background-color: var(--vscode-editor-background, white);
}

.levelTitle::before {
    content: '▼ ';
    margin-right: 2px;
}

.utility{
    font-weight: 600;
}


/* ruler */
.rulerBlank {
    position: sticky;
    left: 0;
    height: 20px;
    width: 200px;
    z-index: 3;
    border-right: 0.5px solid var(--vscode-foreground, gray);
    background-color: var(--vscode-editor-background, white);
}

.rulerContainer {
    display: flex;
    border-bottom: 0.5px solid var(--vscode-foreground, gray);
}

.ruler {
    display: flex;
    position: relative;
    width: 100%;
    height: 20px;
}

.graduation {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 20px;
    border-left: 0.5px solid var(--vscode-foreground, black); 
}

.smallGraduation{
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 10px;
    border-left: 0.5px solid var(--vscode-foreground, gray); 
}

.smallGraduation:first-child{
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 80%;
    border-left: none;
    font-size: x-small;
}

.index{
    position: absolute;
    z-index: 1;
    margin-left: 3px;
}


/* category */
.categoryContainer{
    display: flex;
    height: 20px;
    width: auto;
}

.categoryHeader{
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    z-index: 3;
    padding-left: 3px;
    margin: 0px;
    height: 100%;
    width: 200px;
    font-weight: 600;
    border-right: 0.5px solid var(--vscode-foreground, gray);
    background-color: var(--vscode-editor-background, white);
}

.barList {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid var(--vscode-foreground, gray);
}

.barList > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bar */
.bar {
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: 0%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    font-size: x-small;
    color: black;
}


/* detail */
.detail-container header {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 700;
    border-bottom: 0.5px solid var(--vscode-foreground, gray);
}

.detail-container section {
    height: 200px;
    padding: 0px 5px;
    overflow: auto;
}

.args {
    cursor: pointer;
}

.args::before {
    content: '▼';
    margin-right: 2px;
}

.args.fold li{
    display: none;
}

.args.fold::before {
    content: '▶';
}

table {
    margin-top: 5px;
    width: 100%;
}

thead {
    color: var(--vscode-badge-foreground);
    background-color: var(--vscode-badge-background);
}

.totals {
    color: var(--vscode-badge-foreground);
    background-color: var(--vscode-badge-background);
    font-weight: bolder;
}

ul, li {
    list-style: none;
}

ul {
    padding-left: 20px;
}