:root {
	--container-padding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
	--container-margin: 10px;
}

body {
	padding: var(--container-padding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

ol,
ul {
	padding-left: var(--container-padding);
}

.container {
	height: 90vh;
	width: 90vw;
}

.main, .tools, .options {
	border: 1px solid white;
}
.header {
	height: 10%;
	width: 100%;
	display: table;
}
.heading {
	width: 50%;
	vertical-align: bottom;
	display: table-cell;
}
.importBtn {
	width: 50%;
	text-align: end;
	vertical-align: bottom;
	display: table-cell;
}
.main {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: var(--container-margin);
}
.mainL {
	width: 30%;
	padding-left: var(--container-padding);
	margin-top: var(--container-margin);
}
.mainR {
	width: 70%;
	padding-right: var(--container-padding);
	margin-top: var(--container-margin);
}
.tools {
	height: 50%;
	width: 80%;
	margin-top: var(--container-margin);
	padding-right: var(--container-padding);
}
.options {
	height: 85%;
	width: 100%;
	margin-top: var(--container-margin);
	padding-right: var(--container-padding);
	overflow: scroll;
	display: flex;
}
.optionsName {
	width: 40%;
	padding-left: var(--container-padding);
}
.optionsValue {
	width: 60%;
}
.footer {
	width: 100%;
	text-align: end;
	margin-top: var(--container-margin);
}

body > *,
form > * {
	margin-block-start: var(--input-margin-vertical);
	margin-block-end: var(--input-margin-vertical);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type='checkbox']),
textarea {
	display: block;
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
	color: var(--vscode-input-placeholderForeground);
}