:root {
	--container-padding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
	--container-margin: 10px;
	--container-width: 80vw;
}

body {
	padding: var(--container-padding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

h2 {
	display: inline;
	margin-right: 10px;
}

ol,
ul {
	padding-left: var(--container-padding);
}

li {
	list-style: none;
	height: 50px;
}

.container {
	height: 90vh;
	width: var(--container-width);
}

.main, .tools, .options {
	border: 1px solid white;
}
.header {
	height: 10%;
	width: var(--container-width);
	display: table;
}
.heading {
	width: 50%;
	vertical-align: bottom;
	display: table-cell;
}
.importBtn {
	width: 50%;
	text-align: end;
	vertical-align: bottom;
	display: table-cell;
}
.main {
	height: 80%;
	width: var(--container-width);
	display: flex;
	justify-content: space-between;
	margin-top: var(--container-margin);
}
.mainL {
	width: 30%;
	padding-left: var(--container-padding);
	margin-top: var(--container-margin);
}
.mainR {
	width: 70%;
	padding-right: var(--container-padding);
	margin-top: var(--container-margin);
}
.tools {
	height: 50%;
	width: 80%;
	margin-top: var(--container-margin);
	padding-right: var(--container-padding);
}
.tools div {
	margin-bottom: 5px;
}
.tools div:hover {
	margin-bottom: 5px;
	cursor: pointer;
}
.options {
	height: 85%;
	width: 100%;
	margin-top: var(--container-margin);
	padding-right: var(--container-padding);
	padding-top: var(--container-padding);
	overflow: scroll;
}
.twoOpts {
	display:flex;
	justify-content: space-around;
}
.optionsName {
	width: 40%;
	padding-left: var(--container-padding);
}
.optionsValue {
	width: 60%;
}

@media (max-width: 1280px) { 
	.optionsName {
		width: 70%;
	};
	.optionsValue {
		width: 30%;
	}
 }

.footer {
	width: var(--container-width);
	text-align: end;
	margin-top: var(--container-margin);
}

.selected {
	font-weight: bold;
}

body > *,
form > * {
	margin-block-start: var(--input-margin-vertical);
	margin-block-end: var(--input-margin-vertical);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
	color: var(--vscode-textLink-activeForeground);
}

code {
	font-size: var(--vscode-editor-font-size);
	font-family: var(--vscode-editor-font-family);
}

button {
	/* border: none; */
	border-width: 1px;
	border-color: var(--vscode-button-background);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	text-align: center;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type='checkbox']),
textarea {
	display: inline-block;
	width: 80%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	outline-color: var(--vscode-input-border);
	background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
	color: var(--vscode-input-placeholderForeground);
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
	margin-right: var(--container-margin);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }