.jsonEditor { font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif; font-size: 12px; height: 100%; width: 0; position: fixed; transition: 0.2s; z-index: 1; top: 0; right: 0; background-color: #ececec; color: #242424; overflow: hidden; border-left: 1px solid #ccc; }
.jsonEditor-closebutton { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 15px; color: #777777; opacity: 1.0; display: block; transition: 0.2s; position: absolute; top: 0; right: 15px; margin-left: 50px; user-select: none; -webkit-user-select: none; -moz-user-select: none; }
.jsonEditor-closebutton:hover { color: #242424; }

.jsonEditor-applybutton { padding: 8px 8px 8px 32px; background-color: rgba(0, 0, 0, 0); border: 0px; text-decoration: none; font-size: 15px; color: #777777; opacity: 1.0; display: block; transition: 0.2s; position: absolute; top: 0; right: 50px; margin-left: 50px; user-select: none; -webkit-user-select: none; -moz-user-select: none; }
.jsonEditor-applybutton:hover { color: #242424; }
.jsonEditor-content { padding-left: 20px; padding-right: 20px; margin-bottom: 20px; height: calc(100vh - 60px); outline: none;}
.jsonEditor-content:focus { outline: none; }
.vscode-dark .jsonEditor #jsonEditor-content { background-color: #2d2d2d; color: #dfdfdf; border-left: 1px solid #000; outline: none;}

.vscode-dark .jsonEditor { background-color: #2d2d2d; color: #dfdfdf; border-left: 1px solid #000; }
.calculator-name { font-weight: bold; font-size: 11px; text-transform: uppercase; line-height: 1.25; margin-top: 16px; margin-bottom: 5px; display: block; user-select: none; -webkit-user-select: none; -moz-user-select: none; cursor: default; }
.vscode-dark .calculator-name { color: #dfdfdf; }
.calculator-box { padding-left: 20px; padding-right: 20px; margin-bottom: 0px; overflow-y: auto; height: 100px; }
.calculator-name-box { display: flex; align-items: center; }
.toggle-button { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; float: right; color: #aaa; cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; font-size: 11px; margin-left: 8px; font-weight: bold; margin-top: 15px; margin-bottom: 5px; }
.toggle-button:hover { color: #000; }
.input { font-family: inherit; font-size: 11px; background-color: #fcfcfc; border: 0; overflow: auto; padding: 4px 6px 4px 6px; width: 100%; word-wrap: break-word; margin-left: 2.5px; margin-top: 5px;}
.input:focus { outline: none; }
.vscode-dark .input { background-color: #383838; border-color: #383838; color: #dfdfdf; }
.select { font-weight: bold; font-family: inherit; font-size: 11px; background-color: #fcfcfc; border: 0; overflow: auto; padding: 3px 6px 4px 2px; width: 70px; height: 22px; margin-top: 5px; }
.select:focus { outline: none; }
.vscode-dark .select { background-color: #383838; border-color: #383838; color: #dfdfdf; }
.convert-button { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; color: #aaa; cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; padding: 4px 0px 4px 6px; font-size: 9px; margin-top: 6px; margin-left: 2px; height: 11px; }
.convert-button:hover { color: #000; }
.clear-button { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; color: #aaa; cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; padding: 4px 6px 4px 6px; font-size: 9px; margin-top: 6px; margin-left: 2px; height: 11px; }
.clear-button:hover { color: #000; }
.vscode-dark .output { background-color: #383838; border-color: #383838; color: #dfdfdf; }
.expander-area { display: flex; width: 100%; }
.title { font-family: inherit; font-size: 11px; border: 0; overflow: auto; padding: 4px 6px 4px 6px; word-wrap: break-word; margin-left: 2.5px; margin-top: 5px; text-align: right; width : 50px}
.input-box { width: 60%; margin-right: 21.5px; }
.button { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; color: #aaa; cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; padding: 4px 10px 4px 10px; font-size: 11px; margin-top: 2px; font-weight: bold; }
.button:hover { color: #000; }
.button-area { display: flex; }
.button-selected { font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; color: #000; cursor: pointer; user-select: none; -webkit-user-select: none; -moz-user-select: none; padding: 4px 10px 4px 10px; font-size: 11px; margin-top: 2px; font-weight: bold; }
.vscode-dark .button-selected { color: #fff }
.custom-input { font-family: inherit; font-size: 11px; background-color: #fcfcfc; border: 0; overflow: auto; padding: 4px 6px 4px 6px; width: 25%; word-wrap: break-word; margin-right: 10px; margin-top: 5px; margin-left: 2.5px;}
.custom-input:focus { outline: none; }
.vscode-dark .custom-input { background-color: #383838; border-color: #383838; color: #dfdfdf; }
.box { display: flex; }
.output-area { display: flex; }
.output { font-family: inherit; font-size: 11px; background-color: #fcfcfc; border: 0; overflow: auto; padding: 4px 6px 4px 6px; width: 44.5%; word-wrap: break-word; margin-left: 2.5px; margin-top: 5px;}
.output:focus { outline: none; }

