div.mondrian-layout {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: calc(100vh - 20px);
}

div.mondrian-scrollbar {
    background-color: rgba(96, 96, 96, 0.2);
    min-height: 36px;
    flex: 0;
}

div.mondrian-viewer-area {
    background-color: rgba(127, 127, 127, 0.2);
    position: relative;
    flex: 1;
}

div.mondrian-allocation-box {
    font-size: 70%;
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
}

div.mondrian-statusbar {
    flex: 0;
    display: flex;
}

div.mondrian-statusline {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

div.mondrian-info {
    flex: 0;
    white-space: nowrap;
}
