:root {
  --container-margin: 10px;
  --container-padding: 20px;
  --container-width: 80vw;
  --input-border-radius: 8px;
  --input-color: white;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
}

body {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  padding: var(--container-padding);
}

h2 {
  display: inline;
  margin-right: 10px;
}

ol,
ul {
  padding-left: var(--container-padding);
}

li {
  height: 50px;
  list-style: none;
}

.container {
  height: 90vh;
  width: var(--container-width);
}

.main,
.tools,
.options {
  border: 1px solid white;
}

.header {
  display: table;
  height: 10%;
  width: var(--container-width);
}

.heading {
  display: table-cell;
  vertical-align: bottom;
  width: 50%;
}

.importBtn {
  display: table-cell;
  text-align: end;
  vertical-align: bottom;
  width: 50%;
}

.main {
  display: flex;
  height: 80%;
  justify-content: space-between;
  margin-top: var(--container-margin);
  width: var(--container-width);
}

.mainL {
  margin-top: var(--container-margin);
  padding-left: var(--container-padding);
  width: 30%;
}

.mainR {
  margin-top: var(--container-margin);
  padding-right: var(--container-padding);
  width: 70%;
}

.tools {
  height: 50%;
  margin-top: var(--container-margin);
  padding: var(--container-padding);
  width: 80%;
}

.tools div {
  margin-bottom: 5px;
}

.tools div:hover {
  cursor: pointer;
  margin-bottom: 5px;
}

.options {
  height: 85%;
  margin-top: var(--container-margin);
  overflow: scroll;
  padding-right: var(--container-padding);
  padding-top: var(--container-padding);
  width: 100%;
}

.twoOpts {
  display: flex;
  justify-content: space-around;
}

.optionsName {
  padding-left: var(--container-padding);
  width: 40%;
}

.optionsValue {
  width: 60%;
}

@media (max-width: 1280px) {
  .optionsName {
    width: 70%;
  }
  .optionsValue {
    width: 30%;
  }
}

.footer {
  margin-top: var(--container-margin);
  text-align: end;
  width: var(--container-width);
}

.selected {
  color: var(--vscode-button-background);
  font-weight: bold;
}

#locaForSelect {
  position: absolute;
  right: 22%;
}

select {
  border: 1px solid #999;
  border-radius: var(--input-border-radius);
  font-family: inherit;
  padding: 0.3em 0.2em;
  text-align-last: center;
  text-align: center;
  width: 170px;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

body > *,
form > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
}

button {
  background: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  border-width: 1px;
  color: var(--vscode-button-foreground);
  font-size: 15px;
  margin-left: 10px;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  padding: 7px 10px;
  text-align: center;
}

button:hover {
  background: var(--vscode-button-hoverBackground);
  cursor: pointer;
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  background: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type="checkbox"]),
textarea {
  background-color: var(--input-color);
  border: none;
  border-radius: var(--input-border-radius);
  color: black;
  display: inline-block;
  font-family: var(--vscode-font-family);
  outline-color: var(--vscode-input-border);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 80%;
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

fieldset:disabled input {
  background-color: var(--vscode-descriptionForeground);
}

/* The switch - the box around the slider */
.switch {
  display: inline-block;
  height: 22px;
  position: relative;
  width: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

/* The slider */
.slider {
  bottom: 0;
  background-color: #ccc;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  transition: 0.4s;
  top: 0;
  -webkit-transition: 0.4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 15px;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
