name: Check PR test

on:
  pull_request:
    branches: [ main ]

jobs:
  check-test:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
      - run: sudo apt install xvfb
      - run: DISPLAY=:44 xvfb-run --server-num 44 npm test
