name: Check PR tsc

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-compile:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
      - run: npm install
      - run: npm run compile
